<div id ="main">

     <div class = "row">
         <div class="cell menu"></div>
        <div class="cell content"><h1>Der unsichtbare Faden</h1></div>
    </div>
        

    <div class ="row">
        <div class="cell menu"><button onclick="window.location.href='#/info'">INFO</button></div>
        <div class="cell content loadingBar"><svg id="loadingBar" onclick="window.location.href='#/faden'">

    </svg></div>

    </div>
        
        
    <div class ="row">
        <div class="cell menu">
            <button onclick="window.location.href='../../../backend'">LOGIN</button> 
            <br /> <br /> <br /> 
            <button onclick="window.location.href='#/kontakt'">KONTAKT</button>
            
            <p id="impressum">URHEBERRECHT Die auf dieser Website verwendeten Bilder und Texte, sowie die sonstigen Inhalte sind urheberrechtlich geschützt. 
        Alle Inhalte dürfen ohne Absprache weder von Benutzern kopiert, verbreitet oder verändert werden. 
        © Katharina Groß © Mario Gienapp und Marcus Degenkolbe . 
        Alle Rechte vorbehalten.</p>
        </div>
        <div class="cell content text">
            <p>Jeder Gedanke bedient meist mehrere Meme (Schlagworte). Im Backend sind alle Meme in einem Koordinatensystem angelegt. Jedes Mem hat seine Koordinate. Der Mittelwert des Memkomplex ergibt den Ort des Gedankeneintrages im virtuellen Gedanken-Raum. Der Leser bewegt sich nach seiner Symbolwahl durch den virtuellen Raum zum nächsten Gedanken. Dabei liegen die jüngeren Gedanken tiefer im Raum. Im Feld am unteren Bildschirmrand kann der Leser seinen „persönlichen Faden“ durch den Gedankenraum verfolgen.</p>
            <br />Bei diesen drei Symbolen operiert die Agentenebene. Diese Ebene fungiert wie ein Touristenführer durch die Tagebücher: <b>◆</b> möglich ( mind. 1 Mem identisch) // <b>□</b> notwendig (größtmögliche Memidentität) // <b>A</b> wahr (kein Mem identisch)</p>
            <br />Die drei anderen Symbole lassen die Randomebene (Zufallsebene) operieren: <b>△ Kontingent</b> ( mind. 1 Mem identisch) // <b>∞</b> unendlich (kein Mem identisch) // <b>●</b> wirklich (größtmögliche Memidentität)</p>
            <br />Mit Klick auf <b>?</b> Frage kann der Leser eine Frage oder Kommentar zum vorliegenden Gedanken für die Autorin hinterlassen. Mit jedem Symbol stehen nur begrenzte nächste Wahloptionen zur Verfügung. Ausgenommen ist die Symbolwahl ¬ nicht. Diese Wahl führt zum Ende des Spiels.</p>
            <br />Taste <b>F5</b> läd alle Gedanken neu, falls das System ins Stocken gerät. Um so länger die Reise zum nächsten Gedanken, desto entfernter liegt dieser. Bitte Geduld bewahren.</p>
            <br />
            <br />
            <p id="persons">Idee/Konzept <b>Katharina Groß</b> <br />
        Programmierung <b>Mario Gienapp &amp; Marcus Degenkolbe</b></p>
        </div>
    </div>
</div>
